<%= heading("カード一覧") %>

<table class="table table-striped">
<%= showCardHeader() %>
<% @cards.each do |card| %>
	<%= showCard(card)  %>
<% end %>
</table>

<br />

<%= link_to 'New Card', new_card_path, :class=>'btn btn-primary' %>
